body {
    margin: 0;
    padding: 0;
    background-color: #61D5FA;
    overflow-x: hidden
}
#global-container {
    width: 100%;
    min-height: 100vh
}
#global-container header {
    padding: 7% 0 0;
    text-align: center
}
#global-container header img {
    width: 200px
}
#global-container #content {
    margin-top: 50px
}
#global-container #content::-webkit-input-placeholder {
    color: #000
}
#global-container #content:-moz-placeholder {
    color: #000;
    opacity: 1
}
#global-container #content::-moz-placeholder {
    color: #000;
    opacity: 1
}
#global-container #content:-ms-input-placeholder {
    color: #000
}
#global-container #content h4 {
    color: #000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 75px
}
#global-container #content .form label {
    color: #000;
    text-align: left
}
#global-container #content .form .help-block {
    color: red
}
#global-container #content .form .form-group {
    position: relative
}

#global-container #content .form .form-group .border-left {
    border-left: 2px solid #9B948E;
    position: absolute;
    top: 75%;
    bottom: 0
}
#global-container #content .form .form-group .border-right {
    border-right: 2px solid #9B948E;
    position: absolute;
    top: 75%;
    bottom: 0;
    right: 0
}
#global-container #content .form .btn-primary {
    margin-top: 20px;
    background: #505050;
    border-color: #505050;
    border-radius: 0px !important
}
#global-container #content .form .btn-primary:hover {
    background: #3A3A3A;
    border-color: #3A3A3A
}
.fp-page .fp-box .msg{
    font-size: 19px;
}
#password-error , #confirmPassword-error{
    color: hsl(0, 100%, 55%);
}
.help-block{
    margin-top: 0px;
}
