<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 hidden-cust left_menu_clinic padding_0">
        <ul class="list-group sidebar_list_group gotham_book font_size_16">
            <li class="list-group-item item background_color_3 font_size_20 gotham_medium title1">MY PRACTICES</li>
            <li class="list-group-item item font_color_5 gotham_medium cursor_pointer title2 sub-menu" ng-class="getClassActive('/app/subscription');">
                <a href="#/app/subscription">Subscription</a>
            </li>
            <li class="list-group-item item font_color_5 gotham_medium cursor_pointer title2 sub-menu" ng-class="getClassActive('/app/subscription_history');">
                <a href="#/app/subscription_history">Subscription History</a>
            </li>
        </ul>
    </div>