<div class="modal-body no_padding view_id_proof_img">
	<div class="container container_width top_header background_color_1 white_color text-center">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">X</button>
        <h3>ID Proof Image</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img style="max-width: 100%;max-height: 635px;" class="modal-content" ng-src="{{id_proof_img_path}}" />
            </div>
        </div>
    </div>
</div>