html body{
    /*padding: 0;*/
    /*margin: 0 auto;*/
    /*font-family: 'Gotham Book';*/
}
#myNavbar a{
    color: #ffffff;
}
.reset_password_form label{
    float: left;
}
.submit_reset_password_btn{
    margin-top: 35px;
}
*:foucs,*:active,*:hover,*:visited,a:focus{
    outline: none !important;    
    outline-offset: 0px !important;
    outline-offset: unset;
}
a:focus{
    outline-offset: unset;
    outline: none !important;    
}
.help-block{
    color: red;
}
@font-face {
    font-family: 'COCOGOOSE';
    src: url('../fonts/COCOGOOSE.eot');
    src: url('../fonts/COCOGOOSE.eot?#iefix') format('embedded-opentype'),
        url('../fonts/COCOGOOSE.woff2') format('woff2'),
        url('../fonts/COCOGOOSE.woff') format('woff'),
        url('../fonts/COCOGOOSE.ttf') format('truetype'),
        url('../fonts/COCOGOOSE.svg#COCOGOOSE') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/GothamBook.eot');
    src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBook.woff2') format('woff2'),
        url('../fonts/GothamBook.woff') format('woff'),
        url('../fonts/GothamBook.ttf') format('truetype'),
        url('../fonts/GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype'),
        url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
#emailHrContainer{
    width: 600px;
}
#emailContainer{
    box-shadow: 0px 0px 5px #d1d1d1;border-radius:10px;padding: 30px 0;background-color: #ffffff;width: 600px;
}
@media screen and (max-width: 650px){
    #emailContainer,#emailHrContainer{
        width: 94%;
    }
}