<div class="">
    <div class="common_hr clearfix">
        <div class="first_width" ng-init="getClinics()">
            <div class="dropdown">
                <button class="new_common_button clinic_listing dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>{{app.all_clinic_label}}</span>
                </button>
                <!-- <ul ng-if="clinic_data.length > 0" class="dropdown-menu clinic_drop_down">
                    <li ng-repeat-start="clinic in clinic_data" ng-click="changeCurrentClinic(clinic)" ><a href="">{{clinic.clinic_name | capitalize}}</a></li>
                    <li class='divider' ng-repeat-end></li>
                </ul> -->
            </div>
        </div>
        <div class="second_width common_heading_height ">
            <div ng-if="checkPermission(COMMUNICATIONS, VIEW) && currentUser.sub_plan_setting.promotional_messages_communication != undefined && currentUser.sub_plan_setting.promotional_messages_communication == '1'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="m_top_22 page_title pull-left">Communications</h3>
                <h3 class="m_top_22 page_title pull-right text-center"><span class="font_color_5">Available Credits</span><br/>{{communication.available_sms_credit}}</h3>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div> 
    </div>
</div>
<div class="">
    <div class="list_group_property" ng-if="current_clinic">
        <div ng-if="checkPermission(COMMUNICATIONS, VIEW) && currentUser.sub_plan_setting.promotional_messages_communication != undefined && currentUser.sub_plan_setting.promotional_messages_communication == '1'" class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 no_margin no_padding_left" ng-init="getClinicDetailForEdit(current_clinic.clinic_id,true)">
            <div class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 no_padding_left">
                <p class="font_color_1 background_color_3 history_brand history_title">History</p>
            </div>
            <div class="col-lg-8 col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-init="getCommunicationDate();">
                <ul class="pagination no_margin">
                    <li ng-show="communication_date.length > 0">
                        <a class="margin_top_5" href="" ng-click="getCommunicationDates('prev')">
                            <img alt="previous" src="app/images/prev_arrow.png" />
                        </a>
                    </li>
                    <li ng-repeat="(key, dateObj) in communication_date" title="{{dateObj.title_date}}" ng-class="communication.current_date_key==key ? 'active' : ''">
                        <a class="list_items listdate" ng-click="changeCommunicationTab(key)" href="">
                            <p class="">{{dateObj.created_at | date:'dd'}}</p>
                            <p class="month">{{dateObj.created_at | date:'MMM'}}</p>
                        </a>
                    </li>
                    <li ng-show="communication_date.length > 0">
                        <a class="margin_top_5 cursor_pointer" href="" ng-click="getCommunicationDates('next')">
                            <img alt="Next" src="app/images/next_arrow.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-right">
                <input type="button" value="New Message" name="btn_new_message" class="new_common_button new_common_button_3" ng-click="add_message_popup()">
            </div>    
            <div class="clearfix"></div>
        </div>
        <div ng-if="checkPermission(COMMUNICATIONS, VIEW) && currentUser.sub_plan_setting.promotional_messages_communication != undefined && currentUser.sub_plan_setting.promotional_messages_communication == '1'" class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 no_margin no_padding_left">
            <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="font_color_1 gotham_medium m_bottom_10 m_top_10 title1">Promotional Messages</h3>
                <div class="tab-content">
                    <div class="tab-pane active" ng-if="checkPermission(SETTING_PATIENT_GROUPS, VIEW)">
                        <table class="table table-responsive min_width_767">
                            <thead class="row font_color_3 gotham_light font_size_18 common_p_b">
                                <tr class="common_tb_border">                                
                                    <th width="48%" class="">Message</th>
                                    <th width="20%" class="">Name</th>
                                    <th width="10%" class="">Deliver time</th>
                                    <th width="12%" class="">SMS delivered</th>
                                    <th width="10%" class="text-center">Credits used</th>
                                </tr>
                            </thead>
                            <tbody class="common_p_b">
                                <tr class="font_size_14" ng-repeat="(key, communicationObj) in communication_list">
                                    <td>{{communicationObj.patient_communication_message | trimString : 150}}</td>
                                    <td>{{communicationObj.patient_communication_name}}</td>
                                    <td>{{communicationObj.deliver_time}}</td>
                                    <td>{{communicationObj.deliver_time ? 'Success' : 'In-progress'}}</td>
                                    <td class="text-center">{{communicationObj.credit_used}}</td>
                                </tr>
                                <tr ng-if="communication_list.length == 0">
                                    <th colspan="5" class="unauthorised-css text-center" ng-bind-html="no_data_found"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m_top_20">
                <div ng-show="communication_list.length > 0" class="pagi-wrap">
                    <div class="col-lg-3 totals-rows padding_0">
                        Showing {{((commuCurrentPage-1)*commu_per_page) + 1}} to {{commu_last_rows}} of {{commu_total_rows}} entries
                    </div>
                    <div class="pagination-wrap col-lg-9 text-right">
                        <a href="" ng-click="getCommuNextPrev('prev')"><img alt="previous" src="app/images/prev_arrow.png"></a>
                        <input ng-repeat="n in [] | range:commu_total_page" type="button" ng-value="n" ng-click="getCommunicationList(n)" ng-disabled="commuCurrentPage == n" ng-class="commuCurrentPage == n ? 'page-active' : ''" class="pagi-btn">
                        <a href="" ng-click="getCommuNextPrev('next')"><img alt="next" src="app/images/next_arrow.png"></a>
                    </div>
                </div>
            </div>
        </div> 
        <div ng-if="!checkPermission(COMMUNICATIONS, VIEW) || currentUser.sub_plan_setting.promotional_messages_communication == undefined || currentUser.sub_plan_setting.promotional_messages_communication == '0'" class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center gotham_book font_size_20 m_top_20 no_padding_left">
            <div class="unauthorised-css">{{app.unauthorised_msg}}</div>
        </div>
    </div>
</div> 