<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Montserrat);
#msform {
	width: 100%;
	margin: 35px auto;
	text-align: center;
	/*position: relative;*/
	padding: 0;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform select{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 5px;
	width: 60%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #30ACA4;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #30ACA4;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	padding: 0px;
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 15px;
	color: #333;
	background: #d7f9f6;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	z-index: 2;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #d7f9f6;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #30ACA4;
	color: white;
	z-index: inherit;
}
.cls-common-slider{
	margin-top: 5px;
	float: right;
	width: 50%; 
	background-color: #d7f9f6;
	background: #d7f9f6;
}
.cls-common-slider > .ui-slider-range{
	background-color: #30ACA4;
	background: #30ACA4;
}
.cls-common-slider > .ui-slider-handle{
	background-color: #30ACA4;
	border-color: #30ACA4;
	background: #30ACA4;
}
</style>
<!-- multistep form -->
<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<form id="msform">
		  <!-- progressbar -->
		  <ul id="progressbar">
		    <li class="active">Area</li>
		    <li>Intensity</li>
		    <li>Subjective symptoms</li>
		  </ul>
		  <!-- fieldsets -->
		  <fieldset>
		    <h2 class="fs-title">Area</h2>
		    <h3 class="fs-subtitle">Select a representative area of eczema.</h3>
			    <div class="col-lg-12 text-left">
			    	<label>1. Head and neck <span id="area_head_and_neck_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_head_and_neck cls-common-slider"></div>
			    	<input type="hidden" id="area_head_and_neck" name="area_head_and_neck" value="0" />
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>2. Upper limbs (left) <span id="area_upper_limbs_left_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_upper_limbs_left cls-common-slider"></div>
			    	<input type="hidden" id="area_upper_limbs_left" name="area_upper_limbs_left" value="0" />
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>3. Upper limbs (right) <span id="area_upper_limbs_right_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_upper_limbs_right cls-common-slider"></div>
			    	<input type="hidden" id="area_upper_limbs_right" name="area_upper_limbs_right" value="0" />
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>4. Lower limbs (left) <span id="area_lower_limbs_left_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_lower_limbs_left cls-common-slider"></div>
			    	<input type="hidden" id="area_lower_limbs_left" name="area_lower_limbs_left" value="0" />
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>5. Lower limbs (right) <span id="area_lower_limbs_right_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_lower_limbs_right cls-common-slider"></div>
			    	<input type="hidden" id="area_lower_limbs_right" name="area_lower_limbs_right" value="0" />
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>6. Anterior trunk <span id="area_anterior_trunk_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_anterior_trunk cls-common-slider"></div>
			    	<input type="hidden" id="area_anterior_trunk" name="area_anterior_trunk" value="0" />
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>7. Back <span id="area_back_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_back cls-common-slider"></div>
			    	<input type="hidden" id="area_back" name="area_back" value="0" />
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>8. Genitals <span id="area_genitals_lbl" class="font_color_1">0%</span></label>&nbsp;<div class="area_genitals cls-common-slider"></div>
			    	<input type="hidden" id="area_genitals" name="area_genitals" value="0" />
			   	</div>
		  	<input type="button" name="next" class="next action-button" value="Next" />
		  </fieldset>
		  <fieldset>
		    <h2 class="fs-title">Intensity</h2>
		    <h3 class="fs-subtitle">In selected area, the intensity of each of the following signs is assessed as none (0), mild (1), moderate (2) or severe (3)</h3>
			    <div class="col-lg-12 text-left">
			    	<label>1. Redness</label>
			    	<select class="float_right" name="intensity_redness" id="intensity_redness">
			    		<option value="0">0 - NONE</option>
			    		<option value="1">1 - MILD</option>
			    		<option value="2">2 - MODERATE</option>
			    		<option value="3">3 - SEVERE</option>
			    	</select>
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>2. Swelling</label>
			    	<select class="float_right" name="intensity_swelling" id="intensity_swelling">
			    		<option value="0">0 - NONE</option>
			    		<option value="1">1 - MILD</option>
			    		<option value="2">2 - MODERATE</option>
			    		<option value="3">3 - SEVERE</option>
			    	</select>
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>3. Oozing / Crusting</label>
			    	<select class="float_right" name="intensity_oozing_crusting" id="intensity_oozing_crusting">
			    		<option value="0">0 - NONE</option>
			    		<option value="1">1 - MILD</option>
			    		<option value="2">2 - MODERATE</option>
			    		<option value="3">3 - SEVERE</option>
			    	</select>
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>4. Scratch marks	</label>
			    	<select class="float_right" name="intensity_scratch_marks" id="intensity_scratch_marks">
			    		<option value="0">0 - NONE</option>
			    		<option value="1">1 - MILD</option>
			    		<option value="2">2 - MODERATE</option>
			    		<option value="3">3 - SEVERE</option>
			    	</select>
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>5. Skin thickening <br/>(lichenification)</label>
			    	<select class="float_right" name="intensity_skin_thickening" id="intensity_skin_thickening">
			    		<option value="0">0 - NONE</option>
			    		<option value="1">1 - MILD</option>
			    		<option value="2">2 - MODERATE</option>
			    		<option value="3">3 - SEVERE</option>
			    	</select>
			   	</div>
			   	<div class="col-lg-12 text-left">
			    	<label>6. Dryness</label>
			    	<select class="float_right" name="intensity_dryness" id="intensity_dryness">
			    		<option value="0">0 - NONE</option>
			    		<option value="1">1 - MILD</option>
			    		<option value="2">2 - MODERATE</option>
			    		<option value="3">3 - SEVERE</option>
			    	</select>
			   	</div>
		    <input type="button" name="previous" class="previous action-button" value="Previous" />
		    <input type="button" name="next" class="next action-button" value="Next" />
		  </fieldset>
		  <fieldset>
		    <h2 class="fs-title">Subjective symptoms</h2>
		    <h3 class="fs-subtitle">Using a visual analogue scale where 0 is no itch (or no sleeplessness) and 10 is the worst imaginable itch (or sleeplessness)</h3>
			    <div class="col-lg-12 text-left">
			    	<label>1. Itch <span id="subjective_symptoms_itch_lbl" class="font_color_1">0</span></label>&nbsp;<div class="subjective_symptoms_itch cls-common-slider"></div>
			    	<input type="hidden" id="subjective_symptoms_itch" name="subjective_symptoms_itch" value="0" />
			   	</div>
				<div class="col-lg-12 text-left">
			    	<label>2. Sleeplessness <span id="subjective_symptoms_sleeplessness_lbl" class="font_color_1">0</span></label>&nbsp;<div class="subjective_symptoms_sleeplessness cls-common-slider"></div>
			    	<input type="hidden" id="subjective_symptoms_sleeplessness" name="subjective_symptoms_sleeplessness" value="0" />
			   	</div>
		    <input type="button" name="previous" class="previous action-button" value="Previous" />
		    <input type="submit" name="submit" class="submit action-button" value="SCORAD" />
		  </fieldset>
		</form>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="col-lg-12 text-center m_top_40">
			<label style="padding: 10px; border: 1px solid; border-color:#30ACA4;" class="page_title">
				SCORAD = <span id="SCORAD_lbl" class="font_color_1">0</span>
				<br/>
				<table class="table m_bottom_0">
					<thead>
						<tr><th>Severity</th><th>SCORAD Index</th></tr>
					</thead>
					<tbody>
						<tr><td>Mild</td><td> < 25 </td></tr>
						<tr><td>Moderate</td><td>25 - 50</td></tr>
						<tr><td>Severe</td><td> > 50</td></tr>
					</tbody>
				</table>
			</label>
			<input type="hidden" id="SCORAD" name="SCORAD" value="0" />
		</div>
		<img src="app/images/clac/SCORAD.jpg" class="image-responsive m_top_26" />
	</div>
</div>
<script type="text/javascript">
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches
var modelHeightExtend = true;
function updateModelHgt(){
	if(modelHeightExtend){
		modelHeightExtend = false;
		setTimeout( function () {
			var modal_height = $('#modal_patient_health_analytic_calculator .modal-content').height();
			var backdrop_height = $('#modal_patient_health_analytic_calculator .modal-backdrop').height();
			if($('#modal_patient_health_analytic_calculator') && modal_height > backdrop_height)
			  $('#modal_patient_health_analytic_calculator .modal-backdrop').height(modal_height + 500);
		},500);
	}
}
$(function(){
	$('.area_head_and_neck').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_head_and_neck_lbl").html(ui.value + "%"); $("#area_head_and_neck").val(ui.value); } });
	$('.area_upper_limbs_left').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_upper_limbs_left_lbl").html(ui.value + "%"); $("#area_upper_limbs_left").val(ui.value); } });
	$('.area_upper_limbs_right').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_upper_limbs_right_lbl").html(ui.value + "%"); $("#area_upper_limbs_right").val(ui.value); } });
	$('.area_lower_limbs_left').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_lower_limbs_left_lbl").html(ui.value + "%"); $("#area_lower_limbs_left").val(ui.value); } });
	$('.area_lower_limbs_right').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_lower_limbs_right_lbl").html(ui.value + "%"); $("#area_lower_limbs_right").val(ui.value); } });
	$('.area_anterior_trunk').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_anterior_trunk_lbl").html(ui.value + "%"); $("#area_anterior_trunk").val(ui.value); } });
	$('.area_back').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_back_lbl").html(ui.value + "%"); $("#area_back").val(ui.value); } });
	$('.area_genitals').slider({ range: "min", min: 0, max: 100, animate: true, slide: function(event, ui) {$("#area_genitals_lbl").html(ui.value + "%"); $("#area_genitals").val(ui.value); } });
	$('.subjective_symptoms_itch').slider({ range: "min", min: 0, max: 10, step:1, animate: true, slide: function(event, ui) {$("#subjective_symptoms_itch_lbl").html(ui.value); $("#subjective_symptoms_itch").val(ui.value); } });
	$('.subjective_symptoms_sleeplessness').slider({ range: "min", min: 0, max: 10, step:1, animate: true, slide: function(event, ui) {$("#subjective_symptoms_sleeplessness_lbl").html(ui.value); $("#subjective_symptoms_sleeplessness").val(ui.value); } });
	updateModelHgt();
});
$(".next").click(function(){
	if(animating) return false;
	animating = true;
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
				'transform': 'scale('+scale+')',
				'position': 'absolute'
			});
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 500, 
		complete: function(){
			current_fs.hide().css({'position': 'inherit'});
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
	modelHeightExtend = true;
	updateModelHgt();
});
$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	//show the previous fieldset
	previous_fs.css({'position':'absolute'}).show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 500, 
		complete: function(){
			previous_fs.css({'position':'inherit'});
			current_fs.hide().css({'position': 'inherit'});
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});
$(".submit").click(function(){
	calculate_scorad();
	return false;
});
function calculate_area(val,perc){
	return val*perc/100;
}
function calculate_scorad(){
 /*	A/5 + 7B/2 + C */
 var valA = 0;
 var valB = 0;
 var valC = 0;

 /*Calculate A*/
 var area_head_and_neck = parseFloat($('#area_head_and_neck').val());
 var area_upper_limbs_left = parseFloat($('#area_upper_limbs_left').val());
 var area_upper_limbs_right = parseFloat($('#area_upper_limbs_right').val());
 var area_lower_limbs_left = parseFloat($('#area_lower_limbs_left').val());
 var area_lower_limbs_right = parseFloat($('#area_lower_limbs_right').val());
 var area_anterior_trunk = parseFloat($('#area_anterior_trunk').val());
 var area_back = parseFloat($('#area_back').val());
 var area_genitals = parseFloat($('#area_genitals').val());
 valA+=calculate_area(area_head_and_neck,9);
 valA+=calculate_area(area_upper_limbs_left,9);
 valA+=calculate_area(area_upper_limbs_right,9);
 valA+=calculate_area(area_lower_limbs_left,18);
 valA+=calculate_area(area_lower_limbs_right,18);
 valA+=calculate_area(area_anterior_trunk,18);
 valA+=calculate_area(area_back,18);
 valA+=calculate_area(area_genitals,1);
 
 /*Calculate B*/
 var intensity_redness = parseInt($('#intensity_redness').val());
 var intensity_swelling = parseInt($('#intensity_swelling').val());
 var intensity_oozing_crusting = parseInt($('#intensity_oozing_crusting').val());
 var intensity_scratch_marks = parseInt($('#intensity_scratch_marks').val());
 var intensity_skin_thickening = parseInt($('#intensity_skin_thickening').val());
 var intensity_dryness = parseInt($('#intensity_dryness').val());
 valB = intensity_redness + intensity_swelling + intensity_oozing_crusting + intensity_scratch_marks + intensity_skin_thickening +intensity_dryness;

 /*Calculate C*/
 var subjective_symptoms_itch = parseInt($('#subjective_symptoms_itch').val());
 var subjective_symptoms_sleeplessness = parseInt($('#subjective_symptoms_sleeplessness').val());
 valC = subjective_symptoms_itch + subjective_symptoms_sleeplessness;

 var scorad = parseFloat((valA/5) + (7*valB/2) + valC);
 $('#SCORAD').val(scorad);
 $('#SCORAD_lbl').html(scorad.toFixed(2));
	var analytics_val = $('#analytics_id_305');
	analytics_val.val(scorad.toFixed(2));
	analytics_val.trigger('input');
	analytics_val.trigger('change');
}
</script>